:root {
    --bg-white-color:#FFFFFF;
    --bg-button-color:#4762FF;
    --font-color:#333333;
    --bg-card-color:#F4F6FA;
    --bg-font-login:#979797;
    --border-color:#ebebeb;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: auto;
    background-color: var(--bg-white-color);
    width: 1440px;
    padding: 0px 165px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/*HEADER*/
/*header-info*/
.header-info {
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header-info-left {
    column-gap: 8px;
}

.header-info-right {
    column-gap: 8px;
}

.header-info-address {
    padding: 8px 46px 8px 0px;
    border-right: 1px solid var(--border-color);
    border-color: var(--border-color);   
}

.header-info-clock {
    padding: 8px 0px 8px 0px;
}

.header-info-number {
    padding: 8px 0px 8px 0px;
    width: 124px;
}

.drop-header {
    padding: 8px 0px 8px 0px;
    color:var(--font-color);
    opacity: 0.7;
}

.clock-header {
    padding: 8px 0px 8px 0px;
    color:var(--font-color);
    opacity: 0.7;
}

.phone-header {
    padding: 8px 0px 8px 0px;
    color:var(--font-color);
    opacity: 0.7;
}

/*header-menu*/
.logo-header {
    margin-left: -10px;
}
.menu {
    justify-content: space-between;
    padding: 18px 0px 18px 0px;
    border-top: 1px solid var(--border-color);
}
.menu-left {
    align-items: center;
}
.menu-link {
    column-gap: 46px;
    margin-left: 117px;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.menu-button {
    width: 179px;
    height: 40px;
    background-color: var(--bg-button-color);
    border-radius: 5px;
    border: none;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*SLIDER*/

.slider {
    justify-content: space-between;
}

.truck-slider {
    margin-right: -165px;
    margin-left: -165px;
}
.slider-header {
    width: 540px;
    height: 152px;
    margin-bottom: 16px;
}

.slider-text {
    width: 496px;
    height: 44px;
    margin-bottom: 32px;
}

.slider-button {
    width: 196px;
    height: 52px;
    background-color: var(--bg-button-color);
    border-radius: 8px;
    border: none;
}

/*CARD-SERVICE*/
/*card-header*/
.card-header {
    align-items: center;
    row-gap: 18px;
}

.text-card-head {
    text-align: center;
    width: 648px;
    height: 48px;
    margin-top: 0;
    margin-bottom: 0;
}


/*card-spare*/
.card {
    align-items: center;
    padding: 29px 197px 58px 197px;
    row-gap: 48px;
}

.card-text {
    width: 540px;
    height: 44px;
    text-align: center;
}

.card-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
    row-gap: 32px;
}

.card-item {
    position: relative;
    width: 505px;
    height: 287px;
    background-color: var(--bg-card-color);
    padding: 25px 0px 0px 28px;
    border-radius: 9px;
}

.card-info {
    left: 28px;
    row-gap: 15px;
}

.item-header {
    width: 366px;
    height: 58px;
    margin-top: 0;
    margin-bottom: 0;
}

.item-text {
    width: 253px;
    height: 86px;
}

.spareparts-img {
    right: 0;
    position: absolute;
}

/*card-washing*/

.text-washing {
    width: 222px;
}

.img-washing {
    margin-top: 47px;
}

/*card-accessories*/

.header-access {
    width: 249px;
}

.img-access {
    margin-bottom: 20px;
}

/*card-oil*/

.img-oil {
    margin-top: 73px;
    margin-bottom: 15px;
}

/*BLOCK-CARS*/
.block-cars {
    padding: 63px 0px 66px 0px;
    column-gap: 70px;
}

/*block-cars-info*/
.block-cars-info {
    max-width: fit-content;
    row-gap: 16px;
}

.cars-info-head {
    width: 540px;
    height: 116px;
    margin: 0;
}

.cars-info-text {
    width: 576px;
    height: 158;
    row-gap: 10px;
}

/*block-cars-logo*/
.block-cars-logo {
    margin-top: -4px;
    grid-column-gap: 14px;
    grid-row-gap: 30px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.scana-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


.volvo-logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.man-logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.daf-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.renault-logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
}

.block-map {
    background-color: #F4F4F4;
    align-self: center;
    width: 1440px;
}

.block-map-info {
    max-width: fit-content;
    row-gap: 41px;
    padding: 96px 21px 188px 165px;
}

.map-info-head {
    width: 506px;
    height: 58px;
    margin: 0;
}

.map-info-text {
    width: 540px;
    height: 158;
    row-gap: 10px;
}


/*LOGIN*/

.login {
    background-image: url("../img/bg-login.png");
    height: 687px;
    width: 1440px;
    align-self: center;
    justify-content: right;
    padding: 70px 165px 70px 0px;
}

.block-login {
    background-color: var(--bg-white-color);
    padding: 39px 71px 40px 71px;
    row-gap: 36px;
    border-radius: 15px;
}

.login-info {
    row-gap: 16px;
}

.login-info-head {
    width: 467px;
    height: 136px;
    margin: 0;
}

.login-info-text {
    width: 467px;
    height: 44px;
    margin: 0;
}

.login-fields {
    row-gap: 23px;
}

.fields-wind {
    outline: none;
    padding: 18px 21px 19px 22px;
    background-color: #f0f2ff;
    border:0;
    border-radius: 8px;
    margin: 0;
}

.wind-font {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color:var(--font-color);
}

::-webkit-input-placeholder { 
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-font-login);
}

::-moz-placeholder {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-font-login);
}

:-ms-input-placeholder {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-font-login); 
}

.login-button {
    width: 496px;
    height: 66px;
    background-color: var(--bg-button-color);
    border-radius: 8px;
    border: none;
}
/*DOWN*/
.down {
    align-self: center;
    width: 1440px;
    height: fit-content;
    padding: 50px 158px 0px 158px;
    background-color: #1A1A1A;
}

.down-info {
    justify-content:space-between;
    column-gap: 150px;
    padding-bottom: 68px;
}

.down-left-logo {
    justify-content: space-between;
    column-gap: 76px;
}

.logo-white {
    align-self:flex-start;
    margin-left: -12px;
}

.down-left-info {
    row-gap: 8px;
}

.down-header {
    margin: 0px 0px 7px 0px;
}

.down-text {
    text-decoration: none;
    margin: 0;
}

.down-link:hover {
    text-decoration: underline;
}

.down-contacts {
    column-gap: 150px;
    justify-content: space-between;
}

.contacts-number {
    row-gap: 8px;
}

.down-text-whats {
    
    margin: 12px 0px 0px 0px;
}

.down-text-drop {
    margin: 8px 0px 0px 0px;
}

.down-whats, .down-drop, .down-face, .down-inst {
    color: var(--bg-white-color);
}

.contacts-links {
    row-gap: 18px;
}

.down-header-link {
    margin: 0;
}

.down-link-face {
    text-decoration: none;
    margin: 0;
}

.down-link-inst {
    text-decoration: none;
    margin: 0;
}

.down-link-face:hover {
    text-decoration: underline;
}

.down-link-inst:hover {
    text-decoration: underline;
}

.underground {
    padding: 19px 0px 19px 0px;
    border-top: 1px solid #474747;
}

.under-text {
    margin: 0;
}
/*fonts*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;

  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { 
    content: '\e800'; 
} 
.icon-clock:before { 
    content: '\e801'; 
}
.icon-whatsapp:before { 
    content: '\e802'; 
}
.icon-facebook:before { 
    content: '\e803'; 
}
.icon-drop:before { 
    content: '\e804';
} 
.icon-instagram:before { 
    content: '\e805'; 
}


.inter-14-reg {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--font-color);
    filter: opacity(0.7);
}
.inter-14-medium {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--font-color);
    filter: opacity(0.7);
}

.inter-16-medium {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-color);
}
.inter-16-semibolt {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-white-color);
}

.inter-18-semibolt {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--bg-white-color);
}

.inter-60-bolt {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 60px;
    line-height: 76px;
    color: var(--font-color);
}


.inter-18-reg {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--font-color);
    filter: opacity(0.8);
}

.inter-40-bolt {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: var(--font-color);
}

.inter-24-bolt {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--font-color);
}

.inter-16-reg {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-color);
    filter: opacity(0.8);
}

.inter-48-bolt {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    color: var(--font-color);
}

.inter-56-bolt {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 56px;
    line-height: 68px;
    color: var(--font-color);
}

.inter-16-reglogo {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-font-login);
}

.inter-20-medium {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--bg-white-color);
}
.inter-16-mediumwhite {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-white-color);
}

.inter-16-regwhite {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--bg-white-color);
}

.inter-12-reg {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    color: #D9DBE1;
}


